/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/place/PlaceItem.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.PlaceItem_item__uRtqO {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .PlaceItem_item__uRtqO:hover {
    transform: scale(1.05);
  }
  
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/place/PlaceList.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.PlaceList_container__7dtt3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .PlaceList_loadingContainer__WAElw, .PlaceList_errorContainer__jKU6i {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
