.image20Icon {  /*메인페이지의 배경이미지 스타일*/
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.span {/*메인페이지의 문구 스타일*/
  color: var(--color-white);
}
.h1 {/*메인페이지의 문구 스타일*/
  margin: 0;
  width: 564px;
  height: 171px;
  position: relative;
  font-size: inherit;
  line-height: 57px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.h11 {
  margin: 0;
  align-self: stretch;
  height: 48px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
}
.professionalsAndPlaces { /*메인페이지 검색창*/
  flex: 1;
  margin-right: 50px;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: none;
  outline: none;
  cursor: text;
  font-size: 30px;
 
}

.professionalsAndPlaces::placeholder{
  text-align: center; /* placeholder를 가운데 정렬 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.productInfoChild {  /*돋보기아이콘을 포함하는 프레임*/
  height: 75px;
  width: 75px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  display: none;
}
.searchIcon {  /*돋보기아이콘스타일*/
  height: 41px;
  width: 43px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
  cursor: pointer;
}
.productInfo {   /*검색창돋보기아이콘을 포함중인 프레임*/
  height: 75px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-base) var(--padding-lg);
  box-sizing: border-box;
  z-index: 1;
  margin-left: -3px;
}
.globalMediaLandscape {  /*메인페이지에 있는 검색창을 포함하고있는 프레임*/
  width: 737px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-3xl) var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
  row-gap: 20px;
  z-index: 1;
}
.componentCard {  /*메인페이지에 있는 검색창을 포함하고있는 프레임*/
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-12xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-16xl);
  color: var(--color-4);
  font-family: var(--font-poppins);
}
.image20Parent {   /*메인페이지에서 문구,이미지, 검색창을 포함중인 프레임*/
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-126xl) var(--padding-137xl) var(--padding-44xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-118xl);
  max-width: 100%;
  margin-top: -1px;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-orange);
  font-family: var(--font-dm-sans);
}




/* @media screen and (max-width: 1050px) {
  .h1 {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }

  .h11 {
    font-size: var(--font-size-9xl);
  }

  .professionalsAndPlaces {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .globalMediaLandscape {
    padding-left: var(--padding-20xl);
    box-sizing: border-box;
  }

  .image20Parent {
    gap: var(--gap-49xl);
    padding-left: var(--padding-59xl);
    padding-right: var(--padding-59xl);
    padding-bottom: var(--padding-22xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .h1 {
    font-size: var(--font-size-10xl);
    line-height: 34px;
  }

  .h11 {
    font-size: var(--font-size-2xl);
  }

  .productInfo {
    margin-left: 0;
  }

  .image20Parent {
    gap: var(--gap-15xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
} */
