.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px;
}

.grayText {
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -0.6px;
    line-height: 24px;
    color: #333;
}