.componentcardglobalmediaIcon {
    width: 258px;
    height: 200px;
    position: relative;
    object-fit: cover;
  }
  .componentcardglobaldark,
  .componentcardglobaldark1 {
    align-self: stretch;
    position: relative;
  }
  .componentcardglobaldark1 {
    height: 60px;
    font-size: var(--font-size-base);
    line-height: 22px;
    color: var(--color-gray-100);
    text-align: left;
    display: inline-block;
    flex-shrink: 0;
  }
  .base,
  .button {
    position: relative;
  }
  .base {
    height: 48px;
    width: 140px;
    border-radius: var(--br-7xs);
    background-color: var(--color-white);
    box-shadow: 0 2px 4px transparent, 0 4px 8px rgba(44, 39, 56, 0.08);
    border: 1px solid var(--color-gray-200);
    box-sizing: border-box;
    display: none;
  }
  .button {
    font-size: var(--font-size-base);
    font-family: var(--font-average-sans);
    color: var(--color-orange);
    text-align: center;
    display: inline-block;
    min-width: 48px;
    z-index: 1;
  }
  .controlsbuttonmediumbright {
    cursor: pointer;
    border: 1px solid var(--color-gray-200);
    padding: var(--padding-sm) var(--padding-25xl) var(--padding-smi)
      var(--padding-27xl);
    background-color: var(--color-white);
    border-radius: var(--br-7xs);
    box-shadow: 0 2px 4px transparent, 0 4px 8px rgba(44, 39, 56, 0.08);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .controlsbuttonmediumbright1:hover,
  .controlsbuttonmediumbright2:hover,
  .controlsbuttonmediumbright:hover {
    background-color: var(--color-gainsboro);
    border: 1px solid var(--color-dimgray-300);
    box-sizing: border-box;
  }
  .componentcardplacecardGen,
  .componentcardplacecardGenWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .componentcardplacecardGen {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    box-shadow: var(--shadow-01);
    padding: var(--padding-xs) var(--padding-7xs);
    gap: var(--gap-12xs);
  }
  .componentcardplacecardGenWrapper {
    height: 361px;
    width: 286px;
    flex-shrink: 0;
    padding: 0 var(--padding-3xs) 0 0;
    box-sizing: border-box;
  }
  .componentcardglobalmediaIcon1 {
    width: 258px;
    height: 200px;
    position: relative;
    object-fit: cover;
  }
  .componentcardglobaldark2,
  .componentcardglobaldark3 {
    align-self: stretch;
    position: relative;
  }
  .componentcardglobaldark3 {
    height: 60px;
    font-size: var(--font-size-base);
    line-height: 22px;
    color: var(--color-gray-100);
    text-align: left;
    display: inline-block;
    flex-shrink: 0;
  }
  .base1,
  .button1 {
    position: relative;
  }
  .base1 {
    height: 48px;
    width: 140px;
    border-radius: var(--br-7xs);
    background-color: var(--color-white);
    box-shadow: 0 2px 4px transparent, 0 4px 8px rgba(44, 39, 56, 0.08);
    border: 1px solid var(--color-gray-200);
    box-sizing: border-box;
    display: none;
  }
  .button1 {
    font-size: var(--font-size-base);
    line-height: 21.33px;
    font-weight: 500;
    font-family: var(--font-ibm-plex-sans);
    color: var(--color-orange);
    text-align: center;
    display: inline-block;
    min-width: 48px;
    z-index: 1;
  }
  .componentcardplacecardGen1,
  .controlsbuttonmediumbright1 {
    background-color: var(--color-white);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .controlsbuttonmediumbright1 {
    cursor: pointer;
    border: 1px solid var(--color-gray-200);
    padding: var(--padding-sm) var(--padding-25xl) var(--padding-smi)
      var(--padding-27xl);
    border-radius: var(--br-7xs);
    box-shadow: 0 2px 4px transparent, 0 4px 8px rgba(44, 39, 56, 0.08);
    overflow: hidden;
    flex-direction: row;
  }
  .componentcardplacecardGen1 {
    height: 361px;
    width: 276px;
    border-radius: var(--br-3xs);
    box-shadow: var(--shadow-01);
    flex-shrink: 0;
    flex-direction: column;
    padding: var(--padding-xs) var(--padding-7xs);
    box-sizing: border-box;
    gap: var(--gap-12xs);
  }
  .componentcardglobalmediaIcon2 {
    width: 258px;
    height: 200px;
    position: relative;
    object-fit: cover;
  }
  .componentcardglobaldark4 {
    align-self: stretch;
    position: relative;
  }
  .p,
  .p1 {
    margin: 0;
  }
  .componentcardglobaldark5 {
    align-self: stretch;
    height: 60px;
    position: relative;
    font-size: var(--font-size-base);
    line-height: 22px;
    color: var(--color-gray-100);
    text-align: left;
    display: inline-block;
    flex-shrink: 0;
  }
  .base2,
  .button2 {
    position: relative;
  }
  .base2 {
    height: 48px;
    width: 140px;
    border-radius: var(--br-7xs);
    background-color: var(--color-white);
    box-shadow: 0 2px 4px transparent, 0 4px 8px rgba(44, 39, 56, 0.08);
    border: 1px solid var(--color-gray-200);
    box-sizing: border-box;
    display: none;
  }
  .button2 {
    font-size: var(--font-size-base);
    line-height: 21.33px;
    font-weight: 500;
    font-family: var(--font-ibm-plex-sans);
    color: var(--color-orange);
    text-align: center;
    display: inline-block;
    min-width: 48px;
    z-index: 1;
  }
  .controlsbuttonmediumbright2 {
    cursor: pointer;
    border: 1px solid var(--color-gray-200);
    padding: var(--padding-sm) var(--padding-25xl) var(--padding-smi)
      var(--padding-27xl);
    background-color: var(--color-white);
    border-radius: var(--br-7xs);
    box-shadow: 0 2px 4px transparent, 0 4px 8px rgba(44, 39, 56, 0.08);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .componentcardplacecardGen2,
  .frameParent,
  .frameWrapper {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .componentcardplacecardGen2 {
    height: 361px;
    width: 276px;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    box-shadow: var(--shadow-01);
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-7xs);
    gap: var(--gap-12xs);
  }
  .frameParent,
  .frameWrapper {
    align-self: stretch;
    flex-direction: row;
    max-width: 100%;
  }
  .frameParent {
    flex: 1;
    overflow-x: auto;
    justify-content: space-between;
    padding: var(--padding-24xl) 0 var(--padding-24xl) var(--padding-3xl);
    gap: var(--gap-xl);
  }
  .frameWrapper {
    height: 477px;
    justify-content: flex-start;
    padding: 0 var(--padding-10xs);
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-average-sans);
  }
  @media screen and (max-width: 450px) {
    .componentcardglobaldark,
    .componentcardglobaldark2,
    .componentcardglobaldark4 {
      font-size: var(--font-size-base);
    }
    .frameParent {
      padding-top: var(--padding-9xl);
    }}