.h1 {  /*'국내여행지'  문구*/
    margin: 0;
    height: 49px;
    width: 227.5px;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
    mix-blend-mode: normal;
  }
  .wrapper {  /*국내여행지 문구를 포함중인프레임*/
    width: 228px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mini) 0 var(--padding-5xl) var(--padding-3xs-5);
    box-sizing: border-box;
  }
  .div {  /*'정보컨텐츠' 문구 스타일*/
    height: 52px;
    position: relative;
    font-size: var(--font-size-21xl);
    font-family: var(--font-average-sans);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    cursor:default;
  }
  .copyrightNotice { /*'정보컨텐츠' 뒤의 주황색 배경*/
    cursor: pointer;
    border: 0;
    /* padding: var(--padding-xs) var(--padding-4xs) var(--padding-smi)
      var(--padding-3xs); */
    background-color: var(--color-orange);
    align-self: stretch;
    border-radius: var(--br-5xs);
    overflow: hidden;
    flex-direction: row;
    mix-blend-mode: normal;
    white-space: nowrap;
  }
 
  .appDownloads,
  .copyrightNotice,
  .copyrightNoticeWrapper {  /*'정보컨텐츠'문구 및 배경을 포함중인 프레임*/
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .copyrightNoticeWrapper {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
    min-width: 144px;
  }
  .appDownloads {  /*국내여행지정보콘텐츠 문구를 포함중인 프레임*/
    width: 449px;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: calc(100% - 134px);
    row-gap: 20px;
  }
  .baseIcon {
    height: 36px;
    width: 114px;
    position: relative;
    border-radius: var(--br-26xl);
    display: none;
  }
  .arrowRightIcon,
  .button {
    position: relative;
    z-index: 1;
  }
  .button {
    flex: 1;
    font-size: var(--font-size-base);
    font-weight: 500;
    font-family: var(--font-ibm-plex-sans);
    color: var(--color-aliceblue);
    text-align: center;
    display: inline-block;
    min-width: 58px;
  }
  .arrowRightIcon {
    width: 20px;
    height: 20px;
  }
  .baseParent,
  .professorsStudentsLibraries {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .professorsStudentsLibraries {
    height: 21px;
    flex-direction: column;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
  }
  .baseParent {
    cursor: pointer;
    border: 0;
    padding: var(--padding-6xs) var(--padding-xs) var(--padding-5xs)
      var(--padding-base);
    background-color: var(--color-gray-100);
    align-self: stretch;
    border-radius: var(--br-26xl);
    box-shadow: 0 2px 4px rgba(44, 39, 56, 0.08), 0 4px 8px rgba(44, 39, 56, 0.08);
    flex-direction: row;
    gap: var(--gap-5xs);
  }
  .appDownloadsParent,
  .frameWrapper {  /*View All 버튼을 포함하고있는 프레임이며 
    이것 밑에 있는 컴포넌트들도 다 그에 관한것입니다.*/
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .frameWrapper {
    width: 114px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-lg) 0 0;
  }
  .appDownloadsParent {  /*국내여행지 정보컨텐츠, view all 버튼 포함중인 프레임*/
    align-self: stretch;
    height: 81px;
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 var(--padding-xs) var(--padding-8xl) 0;
    max-width: 100%;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--color-gray-100);
    font-family: var(--font-average-sans);
  }
  @media screen and (max-width: 1050px) {
    .h1 {
      font-size: var(--font-size-13xl);
    }
  }
  @media screen and (max-width: 450px) {
    .h1 {
      font-size: var(--font-size-5xl);
    }}