.logo {  /*메인로고 스타일*/
  margin: 0;
  height: 80px;
  width: 236px;
  position: relative;
  font-size: inherit;
  line-height: 57px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
}
.label {  /* 여행지 탐색 라벨 스타일, 1,2는 각각 여행경로찾기, 커뮤니티 라벨의 스타일*/
  align-self: stretch;
  font-size: 18px;
  height: 20px;
  position: relative;
  line-height: 20px;
  white-space: nowrap;
  display: inline-block;
  flex-shrink: 0;
  
}
.labelWrapper { /*여행지탐색 문구를 포함하는 프레임*/
  width: 97px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0px 0px;
  box-sizing: border-box;
  text-align: center;
  color: var(--color-black);
}
.frameChild {   /*라벨간 구분선*/
  height: 28.5px;
  width: 0.5px;
  position: relative;
  border-right: 0.5px solid var(--color-black);
  box-sizing: border-box;

}

.frameChild1 {  /*라벨간 구분선*/
  height: 28.5px;
  width: 0.5px;
  position: relative;
  border-right: 0.5px solid var(--color-black);
  box-sizing: border-box;
  margin-left: 22px;

}
.label1 {
  width: 82px;
  height: 20px;
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 82px;
  white-space: nowrap;
  font-size: 18px;
}
.labelContainer {  /*여행경로찾기 라벨을 포함중인 프레임*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0px 0px;
}
.label2 {
  align-self: stretch;
  height: 20px;
  position: relative;
  font-size: 18px;
  line-height: 20px;
  white-space: nowrap;
  display: inline-block;
}
.labelFrame {  /*커뮤니티 라벨을 포함중인 프레임*/
  width: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0px 0px;
  box-sizing: border-box;
}
.frameParent {
  width: 337px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.searchBox {  /*여행지탐색 ㅣ 여행경로 찾기 ㅣ 커뮤니티  를 포함하는프레임*/
  width: 820px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-sm);
  color: var(--neutral-900);
  font-family: var(--font-average-sans);
}
/* .background {
  height: 40px;
  width: 87px;
  position: relative;
  border-radius: var(--br-7xs);
  border: px solid var(--color-gray-100);
  box-sizing: border-box;
  display: none;
} */
.logIn {  /*  로그인 로그아웃 텍스트 서식    */
  height: 20px;
  width: 39px;
  position: relative;
  font-size: var(--font-size-smi);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  min-width: 39px;
  z-index: 1;
}
.button2 {  /*사용자페이지로 이동하는 버튼*/
  cursor: pointer;
  background-image: url(../../public/user\ 1.png);
  background-repeat: no-repeat; /* 배경 이미지 반복 설정 */
  border: none; /* 테두리 제거 */
  width: 50px; /* 버튼의 너비 */
  height: 50px; /* 버튼의 높이 */
  padding: var(--padding-3xs) var(--padding-5xl);
  background-color: transparent;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 10px;
  white-space: nowrap;
  text-align: left;
}

.button1 { /*로그인 로그아웃버튼 스타일*/
  cursor: pointer;

  border: 1px solid var(--color-gray-100);
  padding: var(--padding-3xs) var(--padding-5xl);
  background-color: transparent;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  white-space: nowrap;
}
.button1:hover {
  background-color: var(--color-dimgray-200);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0px 0px;
}
.navbar {  /*네비게이션바 메인프레임*/
  align-self: stretch;
  height: 80px;
  background-color: var(--color-white);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-23xl) var(--padding-xl)
    var(--padding-42xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-dm-sans);
}

