.signIn {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
  }
  .signInWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-14xl);
    font-size: var(--font-size-41xl);
  }
  .email {
    position: relative;
    display: inline-block;
    min-width: 82px;
  }
  .emailParent,
  .submitButton {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .submitButton {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: var(--color-whitesmoke);
    height: 89px;
    border-radius: var(--br-11xl);
    flex-direction: row;
    padding: var(--padding-3xl) var(--padding-13xl);
    box-sizing: border-box;
    font-family: var(--font-poppins);
    font-size: var(--font-size-11xl);
    color: var(--color-gray);
    min-width: 250px;
  }
  .emailParent {
    flex-direction: column;
    gap: var(--gap-5xs);
  }
  .password {
    position: relative;
  }
  .frameChild {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: var(--color-whitesmoke);
    align-self: stretch;
    height: 89px;
    border-radius: var(--br-11xl);
    flex-direction: row;
    padding: var(--padding-5xl) var(--padding-13xl) var(--padding-xl);
    box-sizing: border-box;
    font-family: var(--font-poppins);
    font-size: var(--font-size-11xl);
    color: var(--color-gray);
    min-width: 250px;
  }
  .frameChild,
  .frameGroup,
  .frameWrapper,
  .passwordParent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .passwordParent {
    align-self: stretch;
    flex-direction: column;
    gap: var(--gap-5xs);
  }
  .frameGroup,
  .frameWrapper {
    max-width: 100%;
  }
  .frameGroup {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-lg);
  }
  .frameWrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-9xl) var(--padding-2xl) var(--padding-14xl);
    box-sizing: border-box;
    color: var(--color-black);
  }
  .frameItem {
    height: 75px;
    width: 252px;
    position: relative;
    border-radius: var(--br-11xl);
    background-color: var(--color-darkslateblue);
    display: none;
  }
  .submit {
    flex: 1;
    position: relative;
    font-size: var(--font-size-16xl);
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: left;
    z-index: 1;
  }
  .rectangleParent,
  .signUp {
    flex-shrink: 0;

  }
  .rectangleParent {
    cursor: pointer;
    border: 0;
    padding: var(--padding-2xs) var(--padding-41xl);
    background-color: var(--color-darkslateblue);
    width: 252px;
    border-radius: var(--br-11xl);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangleParent:hover {
    background-color: var(--color-steelblue-100);
  }
  .signUp {
    align-self: stretch;
    height: 42px;
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .frameContainer,
  .frameParent,
  .signUpWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .signUpWrapper {
    width: 247px;
    flex-direction: column;
    padding: var(--padding-2xs) 0 0;
    box-sizing: border-box;
  }
  .frameContainer,
  .frameParent {
    align-self: stretch;
  }
  .frameContainer {
    overflow: hidden;
    flex-direction: row;
    padding: var(--padding-9xl) var(--padding-14xl) var(--padding-13xl);
    gap: var(--gap-176xl);
    color: var(--color-darkslateblue);
  }
  .frameParent {
    flex-direction: column;
    gap: var(--gap-41xl);
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-11xl);
    color: var(--color-steelblue-200);
    font-family: var(--font-poppins);
  }
  /* @media screen and (max-width: 850px) {
    .signIn {
      font-size: var(--font-size-29xl);
    }
    .email,
    .password {
      font-size: var(--font-size-5xl);
    }
    .submit {
      font-size: var(--font-size-9xl);
    }
    .signUp {
      font-size: var(--font-size-5xl);
    }
    .frameContainer {
      flex-wrap: wrap;
      gap: 195px 97px;
    }
    .frameParent {
      gap: 30px 60px;
    }
  }
  @media screen and (max-width: 450px) {
    .signIn {
      font-size: var(--font-size-17xl);
    }
    .email,
    .password {
      font-size: var(--font-size-lg);
    }
    .submit {
      font-size: var(--font-size-2xl);
    }
    .rectangleParent {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .signUp {
      font-size: var(--font-size-lg);
    }} */