.h1 {  /*여행경로찾기 문구 스타일*/
    margin: 0;
    color: #ffffff;
    width: 381px;
    height: 68px;
    position: relative;
    top: -50px;
    font-size: 50px;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
    max-width: 100%;
  }
  .whatAreYouLookingFor {
    width: 232px;
    border: 0;
    outline: 0;
    background-color: transparent;
    height: 37px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
    box-sizing: border-box;
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: var(--font-size-lg);
    color: var(--color-gray-300);
  }
  .frameChild {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
  }
  .searchIcon {
    position: absolute;
    top: 11px;
    left: 12.5px;
    width: 25px;
    height: 25px;
    overflow: hidden;
    z-index: 1;
  }
  .vectorParent {
    height: 48px;
    width: 48px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-gray-400);
  }
  .searchButton,
  .whatAreYouLookingForParent {  /*검색창을 포함중인 프레임*/


    overflow: hidden;
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
  }
  .whatAreYouLookingForParent {
    width: 381px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--padding-5xs) var(--padding-lg);
    gap: var(--gap-xl);
    position: relative;
    top: -30px;
  }
  .searchButton { /*여행경로찾기 문구, 검색창을 포함중인 프레임*/
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 1200px;
    padding: var(--padding-34xl) var(--padding-xl);
    gap: var(--gap-25xl);
    min-height: 321px;
  }

  .backgroundWrapper {  /*배경이미지*/
    background-image: url('/public/loginImg2.jpg');
    filter: brightness(100%); /* 이미지의 밝기를 70%로 설정 */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }


  .frameInner,
 

  .frameParent {
    width: 300px;
    height: 300px;
    margin: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #ffffff; 
  }
  
  .frameWrapper,
  .searchButtonParent {
    display: flex;
    align-items: flex-start;
  }
  .frameWrapper {  /*아직 비어있는 프레임, 앞으로 내용물을 추가할 용도로 만듦*/
    width: 1300px;
    height: 1000px;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;

  }

  .frameWrapper >*{

    width: 230px;
  height: 230px;
  margin: 22px;
  }

  .searchButtonParent {  /*네비게이션바,메뉴바,하단정보프레임을 
    제외한 여행경로페이지의 메인프레임*/
    flex: 1;
    height: 1441px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-18xl);
    max-width: calc(100% - 253px);
    text-align: center;
    font-size: var(--pt-bold-size);
    color: var(--color-black);
    font-family: var(--pt-bold);
    flex-wrap: wrap;
  }
  
  .frameWrapperButton { /*더보기 버튼 영역*/
    width: 1300px;
    height: 118px;
  
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;

  }



  .button {
    background-color: #000000;
    margin-top: 30px;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  .button:hover {
    background-color: #0056b3;
  }

